{% extends 'base.html' %}
{% load static %}
{% block subheader %}
    {% include 'subheader.html' %}
{% endblock %}
{% block title %}
<title>Home: MSSN UNILORIN </title>
{% endblock%}
{% block page_content %}
<div class="row">
    <div class="col-xl-4">
        <!--begin::Tiles Widget 1-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <div class="card-title">
                    <div class="card-label">
                        <div class="font-weight-bolder">Upcoming Events</div>
                    </div>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body d-flex flex-column px-0">
                <!--end::Chart-->
                <!--begin::Items-->
                <div class="flex-grow-1 card-spacer-x">
                    <!--begin::Item-->
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center justify-content-between mb-10">
                        <div class="d-flex align-items-center mr-2">
                            <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                                <div class="symbol-label">
                                    <img src="{% static 'assets/media/svg/misc/015-telegram.svg' %}" alt="" class="h-50" />
                                </div>
                            </div>
                            <div>
                                <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Ramadan Lecture</a>
                                <div class="font-size-sm text-muted font-weight-bold mt-1">Central Mosque</div>
                            </div>
                        </div>
                        <!-- <div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base">+60$</div> -->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Items-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Tiles Widget 1-->
    </div>
    <div class="col-xl-8">
        <div class="row">
            <div class="col-xl-9">
                <!--begin::Mixed Widget 10-->
                <div class="card card-custom gutter-b" style="height: 150px">
                    <!--begin::Body-->
                    <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
                        <div class="mr-2">
                            <h3 class="font-weight-bolder">Make donation</h3>
                            <div class="text-dark-50 font-size-lg mt-2">Your donation would go a long way in assisting the cause of Allaah</div>
                        </div>
                        <a href="#" class="btn btn-success font-weight-bold py-3 px-6">Donate</a>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Mixed Widget 10-->
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column">
    <!--begin::Title-->
    <h2 class="text-black font-weight-bold my-5 mr-5">LATEST POSTS</h2>
    <!--end::Title-->
</div>
<div class="row">
    {% for post in posts %}
    <div class="col-xl-4">
        <!--begin::Tiles Widget 13-->
        {% if post.image%}
        <div class="card card-custom bgi-no-repeat gutter-b" 
            style="height: 175px; background-color: #663259; background-position:cover; 
            background-size: 100% auto; background-image: url({{ post.image.url }})">
            <!--begin::Body-->
            <div class="card-body d-flex align-items-center"> 
                <div>
                    <h3 class="text-white font-weight-bolder line-height-lg mb-5 bg-primary">{{ post.title|truncatechars:30}}</h3>
                    <a href='{% url "post_detail" post.public_id %}' class="btn btn-success font-weight-bold px-6 py-3">Read</a>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Tiles Widget 13-->
        {% else %}
        <div class="card card-custom bgi-no-repeat gutter-b" style="height: 175px; background-color: #663259; background-position: calc(100% + 0.5rem) 100%; background-size: 100% auto; background-image: url({% static 'assets/media/svg/patterns/taieri.svg' %})">
            <!--begin::Body-->
            <div class="card-body d-flex align-items-center">
                <div>
                    <h3 class="text-white font-weight-bolder line-height-lg mb-5">{{ post.title|truncatechars:30}}</h3>
                    <a href='{% url "post_detail" post.public_id %}' class="btn btn-success font-weight-bold px-6 py-3">Read</a>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Tiles Widget 13-->
        {% endif %}
    </div>
    {% endfor %}
</div>
<!--end::Row-->
{% endblock %}